@{
    ViewData["Title"] = "Nova vacina";
}

@model vacinacao.DTO.VacinaDTO;

<h3>Nova vacina</h3>
<hr>
<form class="form-horizontal" asp-controller="Vacinas" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0"> 
    
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da vacina">
    <span asp-validation-for="Nome"></span><br> 

    <label asp-for="Laboratorio">laboratório</label>
    <input type="text" asp-for="Laboratorio" class="form-control" placeholder="Nome do laboratório">
    <span asp-validation-for="Laboratorio"></span><br>

    <label asp-for="Posologia">Posologia</label>
    <select class="form-control" asp-for="Posologia">
        <option value="1">Dose única</option>
        <option value="2">Duas doses</option>
    </select><br>

    <label asp-for="IntervaloEntreDoses">Intervalo entre as doses</label>
    <input type="number" asp-for="IntervaloEntreDoses" class="form-control" placeholder="Se é dose única coloque 0">
    <span asp-validation-for="IntervaloEntreDoses"></span><br>

    <button class="btn btn-success">Cadastrar</button>
</form>